<form class="flex flex-col w-[clamp(200px,50%,420px)] m-auto" #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
  <input appFocusVisible
    type="text"
    name="title"
    [ngModel]="model().title"
    (ngModelChange)="updateField('title', $event)"
    placeholder="Title"
    #titleCtrl="ngModel"
    class="form-input"
    required
  />
  @if (titleCtrl.invalid && titleCtrl.touched) {
    <div class="text-red-500 text-sm"> Title is required </div>
  }
  <input appFocusVisible
    [class]="[dateCtrl.value ? 'text-black' : 'text-gray-400', 'border-inherit']"
    type="date"
    name="date"
    [ngModel]="model().dateDeadLine"
    (ngModelChange)="updateField('dateDeadLine', $event)"
    #dateCtrl="ngModel"
    required
  />
  @if (dateCtrl.invalid && dateCtrl.touched) {
    <div class="text-red-500 text-sm"> dead-line date is required </div>
  }
  <input appFocusVisible
    [ngxMatTimepicker]="picker"
    name="time"
    class="placeholder-gray-400"
    [ngModel]="model().timeDeadLine"
    (ngModelChange)="updateField('timeDeadLine', $event)"
    placeholder="Select time"
    #timeCtrl="ngModel"
    required
  />
  <ngx-mat-timepicker #picker></ngx-mat-timepicker>
  @if (timeCtrl.invalid && timeCtrl.touched) {
    <div class="text-red-500 text-sm"> dead-line time is required </div>
  }
  <textarea appFocusVisible
    name="description"
    [ngModel]="model().description"
    (ngModelChange)="updateField('description', $event)"
    placeholder="Description"
    rows="5"
  ></textarea>
  <button type="submit" class="bg-gray-500 hover:bg-gray-600 cursor-pointer mt-6 rounded 
  py-1.5 text-white dark:hover:bg-gray-300 dark:hover:text-gray-700 w-3/4 m-auto">Submit</button>
</form>
