<header class="flex justify-between h-1/12 border-b-2 dark:border-white mb-4">
  <h1 class="text-2xl font-bold dark:text-white" [appUppercase]="pageTitle()"></h1>
  <app-switch-button [(isLeft)]="isLight" leftIcon="/icons/sun.svg" 
  rightIcon="/icons/moon.svg" (valueChange)="onThemeChange()"></app-switch-button>
</header>
<main class="flex justify-center items-center h-5/6 border-b-2 dark:border-white mb-4">
  <router-outlet></router-outlet>
</main>
<footer class="flex justify-center gap-3 h-1/12">
  <app-icon-button icon="/icons/list.svg" route="" (clicked)="goTo('')"></app-icon-button>
  <app-icon-button icon="/icons/add.svg" route="add" (clicked)="goTo('/add')"></app-icon-button>
</footer>