<mat-accordion>
  @for (todo of todos(); track todo.id) {
    <mat-expansion-panel [disabled]="!isSmallScreen() && !todo.description">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl font-medium">
          {{ todo.title }}
        </mat-panel-title>
        <mat-panel-description class="invisible w-0 sm:visible sm:w-auto">
          <span>{{ todo.dateDeadLine | date:'d/M/yy' }},&nbsp;&nbsp;{{ todo.timeDeadLine }}</span>
        </mat-panel-description>
        <mat-action-row class="gap-1 ml-1 border-t-0!">
          <button matButton (click)="showUpdateOrDelete('update', todo, $event)"  class="cursor-pointer">
            <span class="material-icons text-xl!">update</span>
          </button>
          <button matButton (click)="showUpdateOrDelete('delete', todo, $event)" class="cursor-pointer">
            <span class="material-icons text-xl!">delete</span>
          </button>
        </mat-action-row>
      </mat-expansion-panel-header>
      <div class="border-t border-gray-200 w-full pt-2">
        <span>{{ todo.description }}</span>
        @if (todo.description) {
          <br class="sm:hidden"/>
        }
        <span class="sm:hidden">{{ todo.dateDeadLine | date:'d/M/yy' }},&nbsp;&nbsp;{{ todo.timeDeadLine }}</span>
      </div>
    </mat-expansion-panel>
  } @empty {
    <p>no todo available</p>
  }
</mat-accordion>

<app-modal [(isOpened)]="modalControler">
  <ng-container [ngTemplateOutlet]="modalContent()" [ngTemplateOutletContext]="modalContext()"></ng-container>
</app-modal>

<ng-template #deleteFragment let-todo>
  @if (modalControler()) {
    <div class="flex flex-col items-center gap-4 w-[clamp(200px,35vw,500px)] m-auto">
      <p>Are you sure you want to delete <strong>{{ todo.title }}</strong>?</p>
      <button (click)="deleteTodo(todo.id)"
      class="bg-rose-600 text-white px-3 py-1.5 w-auto rounded">delete permanently</button>
    </div>
  }
</ng-template>

<ng-template #updateFragment>
  <p>This is an update template fragment</p>
</ng-template>