@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

input,
textarea {
    @apply placeholder-gray-400 border border-black rounded mt-3 py-1 px-2 dark:border-white dark:text-white;
}

input:focus:not(.focus-visible),
textarea:focus:not(.focus-visible) {
    outline: none;
}

input.focus-visible:focus,
textarea.focus-visible:focus {
    outline: 2px solid #3b82f6;
}

p {
    @apply text-inherit dark:text-white;
}

.toast-error { @apply bg-rose-500; } 
.toast-success { @apply bg-lime-600; }